<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css"> 
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>



 <p id="notice"><%= notice %></p>

  <div class="feturedsection">
    <h1 class="text-center"><span class="bdots">&bullet;</span>S E C U R I T Y<span class="carstxt">S T A F F</span>&bullet;</h1>
  </div>





<table id="example" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th><b style="font-size: 17px">Staff info</b></th>
      <th><b style="font-size: 17px">Guard name</b></th>
      <th><b style="font-size: 17px">Salary</b></th>
      <th><b style="font-size: 17px">Work timing</b></th>
      <th><b style="font-size: 17px">Daily task</b></th>
      <th></th>

        </tr>
  </thead>

  <tbody>
    <% @security_staffs.each do |security_staff| %>
      <tr>
        <td><%= security_staff.staff_info %></td>
        <td><%= security_staff.guard_name %></td>
        <td><%= security_staff.salary %></td>
        <td><%= security_staff.work_timing %></td>
        <td><%= security_staff.daily_task %></td>
        <td><%= link_to 'Edit', edit_security_staff_path(security_staff),class: "btn btn-success" %><button id="<%= security_staff.id %>" class="btn btn-danger"  onclick="test(this.id)">Destroy</button></td>
      </tr>
    <% end %>
  </tbody>
</table>
 <%= link_to 'New Security-Staff', new_security_staff_path,class: "btn btn-success" %>



<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable();
} );

</script>

<script type="text/javascript">
  function test(ida)
  {
    location.href= "/security_staff/"+ida;
  }
</script>