<%= form_with(model: record, local: true, html:{ multipart: true}) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Name", style: 'width: 300px;' %>
  </div>
<br>
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
<br>
  <div class="field">
    <%= form.label :family_members %>
    <%= form.number_field :family_members, class: "form-control", placeholder: "Family members", style: 'width: 300px;' %>
  </div>
<br>
  <div class="field">
    <%= form.label :room_no %>
    <%= form.number_field :room_no, class: "form-control", placeholder: "Flat no", style: 'width: 300px;' %>
  </div>
<br>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "Email", style: 'width: 300px;' %>
  </div>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
