<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css"> 
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>



<p id="notice"><%= notice %></p>

  <div class="feturedsection">
    <h1 class="text-center"><span class="bdots">&bullet;</span>R E C O R D S<span class="carstxt">S T O R E D</span>&bullet;</h1>
  </div>



<div class="content table-responsive table-full-width">
 <table id="example" class="table table-striped table-bordered" style="width:100%"> 
 <thead>
    <tr>
      <th><b style="font-size: 17px">Name</th>
      <th><b style="font-size: 17px">Image</th>
      <th><b style="font-size: 17px">Family members</th>
      <th><b style="font-size: 17px">Flat no</th>
      <th><b style="font-size: 17px">Email</th>
       <th></th>

    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.name %></td>
        <td><%= image_tag record.image.url(:medium) %></td>
        <td><%= record.family_members %></td>
        <td><%= record.room_no %></td>
        <td><%= record.email %></td>
        <td><%= link_to 'Edit', edit_record_path(record),class: "btn btn-success" %><button id="<%= record.id %>" class= "btn btn-danger"  onclick="test(this.id)">Delete</button></td>
      </tr>
    <% end %>
  </tbody>
</table>
 <%= link_to 'New Record', new_record_path,class: "btn btn-success" %>
</div>


<br>
<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable();
} );

</script>

<script type="text/javascript">
  function test(ida)
  {
    location.href= "/record/"+ida;
  }
</script>
