 <%= form_with(model: parking, local: true) do |form| %>
  <% if parking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parking.errors.count, "error") %> prohibited this parking from being saved:</h2>

      <ul>
      <% parking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vehicle_name %>
    <%= form.text_field :vehicle_name, class: "form-control", placeholder: "Vehicle name", style: 'width: 300px;' %>
  </div>
<br>
  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, class: "form-control", placeholder: "Number", style: 'width: 300px;' %>
  </div>
<br>
  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place, class: "form-control", placeholder: "Place", style: 'width: 300px;' %>
  </div>
<br>
  <div class="field">
    <%= form.label :timing %>
    <%= form.time_select :timing %>
  </div>
<br>
  <div class="field">
    <%= form.label :owner_name %>
    <%= form.text_area :owner_name, class: "form-control", placeholder: "Owner name", style: 'width: 300px;' %>
  </div>
<br>
  <div class="field">
    <%= form.label :no_of_vehicles %>
    <%= form.number_field :no_of_vehicles, class: "form-control", placeholder: "Number of vehicles", style: 'width: 300px;' %>
  </div>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
