<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css"> 
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>



<p id="notice"><%= notice %></p>

  <div class="feturedsection">
    <h1 class="text-center"><span class="bdots">&bullet;</span>P A R K I N G S<span class="carstxt">R E S E R V E D</span>&bullet;</h1>
  </div>


<div >
<table id="example" class="table table-striped table-bordered" style="width:100%">
   <thead>
    <tr>
      <th style="font-size: 17px">Vehicle name</th>
      <th style="font-size: 17px">Number</th>
      <th style="font-size: 17px">Place</th>
      <th style="font-size: 17px">Timing</th>
      <th style="font-size: 17px">Owner name</th>
      <th style="font-size: 17px">No of vehicles</th>
       <th></th>
   
    </tr>
  </thead>

  <tbody>
    <% @parkings.each do |parking| %>
      <tr>
        <td><%= parking.vehicle_name %></td>
        <td><%= parking.number %></td>
        <td><%= parking.place %></td>
        <td><%= parking.timing %></td>
        <td><%= parking.owner_name %></td>
        <td><%= parking.no_of_vehicles %></td>
        <td><%= link_to 'Edit', edit_parking_path(parking),class: "btn btn-success" %>
        <button id="<%= parking.id %>" class= "btn btn-danger" onclick="test(this.id)">Delete</button></td>

      </tr>
    <% end %>
  </tbody>
</table>
 <%= link_to 'New Parking Record', new_parking_path,class: "btn btn-success" %>
</div>
</div>

<br>
<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable();
} );

</script>

<script type="text/javascript">
  function test(ida)
  {
    location.href= "/parking/"+ida;
  }
</script>
